body {
    background-color: black !important;
  }

  .planetCard {
    animation: 18s card ease-in;
    transform-origin: 50% 50%;

    position: absolute !important;
    margin: auto;
    top: 25%;
    left: 35%;
    width: 30%
  }

  @keyframes card {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
      opacity: 0.8;
      transform: scale(0);
  }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.logo {
  overflow: auto;
}