body {
    background-color: black !important;
  }

  .planetCard {
    animation: 20s card ease-in;
    /* animation: card ease-in; */

    transform-origin: 50% 50%;

    position: absolute !important;
    margin: auto;
    top: 20%;
    left: 35%;
    width: 30%
  }

  @keyframes card {
    0% {
        opacity: 0;
    }
    89% {
      opacity: 0;
    }
    90% {
      opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.logo {
  overflow: auto;
}